[run]
omit =
    faker2/sphinx/*
    faker2/__main__.py
    faker2/cli.py

[report]
omit =
    faker2/sphinx/*
    faker2/__main__.py
    faker2/cli.py
fail_under = 95
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
