include README.md
include README.rst
include README.upstream.rst
include PARITY.md
include data/*.parquet
include data/*.json
include data/README.md
recursive-include rust *.rs *.toml *.md *.lock *.yml
recursive-exclude rust/target *
include LICENSE.txt
include CONTRIBUTING.rst
include CHANGELOG.md
include RELEASE_PROCESS.rst
include VERSION
include CITATION.cff
include mypy.ini
include tox.ini
include faker2/proxy.pyi
recursive-include tests *.json
recursive-include tests *.py
recursive-exclude faker2/sphinx *.py
recursive-exclude tests/sphinx *.py

global-exclude *.py[cod] __pycache__ *.so
exclude Makefile .coveragerc .bumpversion.cfg .dockerignore .isort.cfg generate_stubs.py
exclude ISSUE_TEMPLATE.md PULL_REQUEST_TEMPLATE.md
exclude appveyor.yml readthedocs.yml
exclude build-alpine.sh
exclude build32bit.sh
exclude dev-requirements.txt
prune docs
prune scripts
prune .circleci
